h1 {
	text-align: center;
}
#content {
	text-align: center;
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}
td.td_left{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
tr {
	line-height: 30px;
}
#content #group_info {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
thead td {
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#content #user_list {
	border: 1px solid #000000;
	border-collapse:collapse;  
}

td.td_right{
	text-align: left;
}

#content #user_list tr{
	border:1px solid #000000;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.project_info{
	height: 150px;
	width: 600px;
	resize: none;
}
