body,form,ul,dl,dt,h3,hr,div,img,p,a {
	margin: 0;
	padding: 0;
	font: 12px Geneva, Arial, Helvetica, sans-serif;
}

.box {
	width: 360px;
	height: auto;
}
.child_box{
	width:360px;
	height:auto;
	margin-left:30px;
}

.widget,.child_widget {
	height: 30px;
	width: 360px;
	background-color: #DBDBDB;
	border: 1px solid #CCCCCC;
	margin-top: 6px;
}

.drag_title,.child_drag_title {
	width: 300px;
	height: 30px;
	float: left;
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
}

.drag,.child_drag {
	height: 30px;
	width: 30px;
	float: left;
	cursor: move;
	background-image: url(drag.jpg);
}

.more ,.child_more {
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url(more.jpg);
}

.less,.child_less {
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url(less.jpg)
}

.slide,.child_slide {
	width: 360px;
	height: auto;
	border: none;
}

.content,.child_content {
	width: 340px;
	height: auto;
	margin: auto;
}

.clear {
	clear: both;
}